h2(style="color:blue;") Ingresar producto

form(action="/productos" method="post")

    div(class="form-group")
        label(for="nombre") Nombre
        input(id="nombre" class="form-control" type="text" name="nombre")

    div(class="form-group")
        label(for="precio") Precio
        input(id="precio" class="form-control" type="number" name="precio")

    button(class="btn btn-success mt-3 mb-5") Enviar